<!--検索フォーム---->
<h2>検索フォーム</h2>
<%= search_form_for @search do |f| %>
  <p>タイトル</p>
  <%= f.search_field :title_cont %>
  
  <p>著者</p>
  <%= f.search_field :authors_name_cont %>
  
  <p>カテゴリー</p>
  <%= f.search_field :category_name_cont %>
  
  <p>出版年</p>
  <%= f.search_field :publication_year_cont %>
  
  <div class="actions"><%= f.submit "検索" %></div>
<% end %>

<!--検索結果-->
<h2>作品一覧</h2>
<% @books.each do |book| %>
    <%= book.title %>  <br>
    <%= book.publication_year.strftime('%Y年') %>  <br>
    <p><%= link_to '作品へ', book_path(book) %></p>
<% end %>