<h1><%= @book.title %></h1>



<%= @book.content %><br>

<!--お気に入り登録ボタン-->
<% if logged_in? %>
<%= form_for @book, url: users_books_path, method: :post do |f| %>
<%= hidden_field_tag :book_id, @book.id %>
  <%= f.submit 'Like' %>
<% end %>
<% end %>